html,body{
 height: 100%;
 width: 100%;
 display:flex;
 align-items: center;
 justify-content: center;
 overflow-y: hidden;
 overflow-x: hidden;
 background-color: white;
 margin: 5px;
}
img{
 height:400px;
 border-radius:0px;
}