@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Unbounded:wght@200..900&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: "Lexend", sans-serif;
}

body,
html {
  height: 100%;
  width: 100%;
  overflow-y: hidden;
}

body::-webkit-scrollbar {
  display: none;
}

.tasks-container {
  border-radius: 10px;
  background-color: #F7F5F4;
  overflow-y: hidden;
}

table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  overflow: hidden;
  font-size: clamp(.35rem, 2vw, .8rem);
}

th {
  background-color: rgb(198, 198, 215);
  padding: 14px 16px;
  font-weight: bold;
  margin-left: 5px;
  color: r;
  border:1px solid black;
}

th img {
  padding-right: 2px;
}

td {
  text-align: center;
  border-bottom: 1px solid #ff8c8c;
  border-right: 1px solid black;
  border-left: 1px solid black;
}

tr:nth-child(odd) {
  background: hsl(0, 100%, 91%)100%, 99%);
}

tr:hover {
  transition: 0.2s ease-in;
}


tr:last-child td {
  border-bottom: 1px solid grey;
}


@media (min-width:320px) {
  .tasks-container {
    height: 100%;
  }

  .tasks-container .current-task .headings {
    padding: 5px;
  }

  .tasks-container .tasks .task {
    overflow: hidden;
  }

  .tasks-container .tasks .task .checkbox {
    height: 10px;
    width: 10px;
    border: 1px solid black;
  }

  .tasks-container .tasks .task .checkbox i {
    font-size: 7px;
  }

  .tasks-container .tasks .task ul {}
}

table {
  font-size: 12px;
  border: none;
  border-radius: 0px;
  overflow: hidden;
  font-size: clamp(.35rem, 2vw, .8rem);
}

th {
  padding: 4px;
}

td {
  padding: 3px;
}

th img {
  height: 10px;
}

td img {
  height: 10px;
}

@media (min-width:768px) {
  .tasks-container {
    padding: 10px;
  }

  .tasks-container .current-task .headings {
    padding: 10px;
  }

  .tasks-container .tasks .task {
    padding: 10px;
  }

  .tasks-container .tasks .task .checkbox {
    height: 20px;
    width: 20px;
    border: 1px solid black;
  }

  .tasks-container .tasks .task .checkbox i {
    font-size: 15px;
  }

  .tasks-container .tasks .task ul {}

  .tasks-container .tasks .task ul li img {
    height: 40px;
  }

  th {
    padding: 6px;
  }

  td {
    padding: 8px;
  }

  th img {
    height: 20px;
  }

  td img {
    height: 15px;
  }
}

@media (min-width:1024px) {
  th {
    padding: 15px;
  }

  td {
    padding: 12px;
  }

  th img {
    height: 20px;
  }

  td img {
    height: 18px;
  }
}